@charset "utf-8";

main{
  box-shadow: 0 0 15px #ddd;
  overflow: hidden;
  width: 720px;
  margin: 40px auto 80px;
}
main form{ /* 360 */
  float: left;
  width: 280px;
  text-align: left;
  padding: 40px;
  font-size: 20px
}
main form h3{
  font-size: ;
  font-family: 'GmarketSans',sans-serif;
  font-weight: 500;
  margin-top: 0;
}
main form label{
  display: block;
}
main form input{
  outline: none;
  border: 1px solid #999;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
  color: maroon;
}
main form input:focus{
  background-color: #eee;
}
main form input[name=user_chk]{
  width: auto;
  margin-right: 6px;
}
main form button{
  width: 100%;
  border: none;
  background-color: rgb(78, 4, 78);
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px 0;
  cursor: pointer;
}
main form button:hover{
  background-color: tomato;
}
main form p{
  text-align: right;
  font-size: 14px;
}
main form p a{
  display: block;
  text-decoration: underline;
}
main img{
  float: left;
}