@charset "utf-8";

/**** main *****/
main .contents {/* 980 */
  overflow: hidden;
}
main .contents section {
  float: left;
  text-align: left;
}
main .contents .txt_box {/* */
  width:420px;/* 980-(280*2)*/
}
main .contents .img_box {/* 255+25=280 */
  width:255px;
  margin-left:25px;
}
main .contents h2 {
  margin:20px 0 10px;
}
main .contents figure {
  margin:0;
  text-align: right;
  font-weight: 300;
}
